
body {
    margin: 0px;
    padding: 0px;
    color: #202070;
}

.wrapper {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    background-color: #555577;
    color: #fff;
    left: 0;
    top: 0;

}

.header_inner {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.for_logo a {
    color:#ffffff;
}

.logo {
    float: left;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Gotu', sans-serif;
    margin-left: 10px;
}


.logo::first-letter{
    font-size: 28px;
    color:#ff0000;
}

.block_menu {
    text-align: center;
    vertical-align: middle;
}

.main_menu {
    color: #fff;
}
 
.menu {
      display: inline; 
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      font-family: 'Gotu', sans-serif;
      font-weight: 600;
      font-size: 18px;
}
  
.menu a {
    color: #fff;
    text-decoration: none;
}
 
.menu a:hover{
    text-shadow: 1px 1px 2px white, 1px 1px 2px red;
}


.user {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.user_menu {
    display: inline; 
    padding: 5px;
    color: #fff;
    font-family: 'Gotu', sans-serif;
    font-weight: 300;  
    font-size: 16px;
}

.user_menu a {
    color: #fff;
    text-decoration: none;
}

.user_menu a:hover{
    text-shadow: 1px 1px 2px white, 1px 1px 2px red;
}

.user_icon {
    
}

.main_section {
    color: #202070;
    
}


.content {
    width: 80%;
 /*   background-color: violet;*/
    float:left;
 /*   border: solid 0px black;*/
 position: relative;

}

.addition_information {
    width: 20%;
 /*   background-color: yellow;*/
    float: right;
 /*   border: solid 0px black; */

}

.content_inner {
 /*   border: solid 1px black;*/
    margin:20px;
    position: relative;
}

.addition_information_inner {
  /*  border: solid 1px black;*/
    margin:20px;
}

.footer{

}

.footer_inner {
    height: 20px;
    width: 100%;
    background-color: #555577;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0; bottom: 0;
    padding: 5px;
}

.intro {
    font-size: 24px;
    color: #202070;
    font-weight: 600;
    padding-top: 80px;
}


h1 {
    font-size: 30px;
    color: #ff0000;
}

h2 {
    font-size: 18px;
    color: #202070;
}

p {
    color: #202070;
}

label {
    color: #202070;
    margin: 20px;
}

input {
    color: #202070;
    margin: 10px;
}

textarea {
    color: #202070;
    margin: 10px;
}

button: {
    border-radius: 12px;
}

.table_for_forms {
    
}

.first_col {
    
    text-align: right;
}

.second_col {
    
    text-align: left;
}

.resume_page{
    width: 800px;
    border: solid 1px black;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9), 0 6px 6px rgba(0, 0, 0, 0.2);
    position: absolute; 
}

.resume_page h1{
    font-size: 25px;
    color: #202070;
    margin: 20px;
}

.resume_page h2{
    font-size: 20px;
    margin: 20px;
}

.contacts{
    width: 400px;
    
    float: left;
    /*border: solid 1px black;*/  
    position: relative;
}

.contacts_inner {
    margin: 20px;
    font-size: 18px;
}

.contacts_inner p{
    font-size: 18px;
    font-weight: 500;
}

.title{
    width: 400px;
    
    /*border: solid 1px black;*/
    float: right;
}

.divider {
    width: 100%;
    background: linear-gradient(90deg, rgba(30,30,150,.8), rgba(50,50,200,0) 80%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    color: #ffffff;
    position: relative;
    clear: both;
}

.divider_inner{
    padding: 5px 5px 5px 20px;
    
}

.infoblock{

}

.infoblock_inner{
    margin: 10px;
}

.infoblock_inner h2{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.infoblock_inner p{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.empty{
    width: 100px;
    height: 100px;
    position: relative;
    border: solid 1px black;
    
}

.hidden{
    display: none;
}
