<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Resume Builder{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% get_static_prefix %}style.css">
	<link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="{% get_static_prefix %}rb.png" />	
</head>
<body>
<div class="wrapper">
<header>
<div class="header">
<div class="header_inner">
	<div class="for_logo">
	<a href="{% url 'index' %}">
	<div class="logo">Resume</div><div class="logo" style="position: relative; top:10px;">Builder</div>	
	</a>	
	</div>
	<nav class="main_menu">
		<div class="block_menu">
			<ul>
				<li class="menu"><a id="resume_app" href="{% url 'resume:index' %}">Resume</a></li>
				<li class="menu"><a href="{% url 'automation' %}">QA Automation Project</a></li>
				<li class="menu"><a target="_blank" href="{% url 'myresume' %}">My Resume</a></li>	
			</ul>
		</div>
	</nav>
	<div class="user">
		{% if user.is_authenticated %}
		<li class="user_menu">{{ user }}<img class="user_icon" width="25px" height="25px" hspace="10px" src="{% get_static_prefix %}icon-user.svg"><a href="{% url 'logout' %}">Logout</a></li>
		{% else %}
		<li class="user_menu"><a href="{% url 'login' %}">Login</a></li>
		<li class="user_menu"><a href="{% url 'signup' %}">Sign up</a></li>
		{% endif %}	
	</div>
</div>
</div>    
</header>  
{% block content %}
<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<p>Hello! My name is Alla. I'm a Software Engineer. </p>
	</div></div>
	<div class="addition_information">
		<div class="addition_information_inner">
			<p><b>The random quote:</b></p>
			<p>{{ quote }}</p>
	</div></div>
</section> 
{% endblock %}
<!--<div class="footer">
<footer class="footer_inner">
	&copy; Alla Y
</footer> 
</div>-->
</div>	

</body>
</html>



