<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Job Market{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% get_static_prefix %}style.css">
	<link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="{% get_static_prefix %}favicon.png" />
	<script type="text/javascript" src="{% get_static_prefix %}script_before.js"></script> 
</head>
<body>
<div class="wrapper">
<header>
<div class="header">
<div class="header_inner">
	<div class="for_logo">
	<div class="logo">Job</div><div class="logo" style="position: relative; top:10px;">Market</div>		
	</div>
	<nav class="main_menu">
		<div class="block_menu">
			<ul>
				<li class="menu"><a href="{% url 'resume:index' %}">RESUME</a></li>
				<li class="menu"><a href="{% url 'search:index' %}">SEARCH</a></li>
				<li class="menu"><a href="{% url 'statistic:index' %}">STATISTIC</a></li>	
			</ul>
		</div>
	</nav>
	<div class="user">
		{% if user.is_authenticated %}
		<li class="user_menu">{{ user }}<img class="user_icon" width="25px" height="25px" hspace="10px" src="{% get_static_prefix %}icon-user.svg"><a href="{% url 'logout' %}">Logout</a></li>
		{% else %}
		<li class="user_menu"><a href="{% url 'login' %}">Login</a></li>
		<li class="user_menu"><a href="{% url 'signup' %}">Sign up</a></li>
		{% endif %}	
	</div>
</div>
</div>    
</header>  
{% block content %}
<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<p>“The elevator to success is out of order. You’ll have to use the stairs, one step at a time.” Joe Girard</p>
			<p>“I didn’t fail the test. I just found 100 ways to do it wrong.” Benjamin Franklin</p>
			<p>“Always remember that you are unique – just like everybody else.” Unknown</p>
			<p>Your limitation—it’s only your imagination.</p>
			<p>Push yourself, because no one else is going to do it for you.</p>
			<p>Success doesn’t just find you. You have to go out and get it.</p>
			<p>The harder you work for something, the greater you’ll feel when you achieve it.</p>
			<p>Don’t stop when you’re tired. Stop when you’re done.</p>
			<p>It’s going to be hard, but hard does not mean impossible.</p>
			<p>Sometimes we’re tested not to show our weaknesses, but to discover our strengths.</p>
			<p>The key to success is to focus on goals, not obstacles.</p>
	</div></div>
	<div class="addition_information">
		<div class="addition_information_inner">
			<p>Place for addition information.</p>
	</div></div>
</section> 
{% endblock %}
<footer class="footer_inner">
	&copy; Alla Y
</footer> 
</div>	
<script type="text/javascript" src="{% get_static_prefix %}script.js"></script>
</body>
</html>



