<html>
<head>
	{% load static %}
    <title>Professional Resume of Alla Yeroshchenko</title>
    <link rel="icon" type="image/png" href="{% get_static_prefix %}rb.png" />
    <style>
    body { color: #202070; padding-top: 20px;}
    ul {margin: 3px;}
    img {margin-right: 10px; vertical-align: center;}
    .name    { font:normal 20pt verdana,arial,helvetica; font-weight: 600; }
    .address { font:normal 12pt verdana,arial,helvetica; font-style: normal; color: #202070; vertical-align: center; }
    .address a { font:normal 12pt verdana,arial,helvetica; font-style: normal; color: #202070; vertical-align: center; }

	.role    { font:normal 16pt verdana,arial,helvetica; padding-top: 5px;}
	.smedia { margin-left: 0px; margin-right: 15px; }
	.section_name { font:normal 16pt verdana,arial,helvetica; border-bottom: solid 2px #202070; padding-top: 10px; }
    </style>
</head>

<body>
<table width="800" align="center">
	<tr>
		<td align="center">
			<div class="name">Alla Yeroshchenko</div>
			<div class="role">Software QA Automation Engineer</div>
			<div class="address"><a href="mailto:alla.yeroshchenko@gmail.com"><img src="{% get_static_prefix %}images\20mail.png">alla.yeroshchenko@gmail.com</a>&nbsp;&nbsp;&nbsp;
			<a href="tel:+16502670085"><img src="{% get_static_prefix %}images\20phone.png">(650) 267 00 85</a></div>
			<div class="address"><a href="https://github.com/AllaYeroshchenko"><img src="{% get_static_prefix %}images\20git.png">github.com/AllaYeroshchenko</a>&nbsp;&nbsp;&nbsp;
			<a href="https://www.linkedin.com/in/alla-yeroshchenko/"><img src="{% get_static_prefix %}images\20linkedin.png">linkedin.com/in/alla-yeroshchenko/</a></div>
			<div class="address">Fully Work Authorized. No Visa Sponsorship Required.</div>
		</td>
	</tr>
</table>
<hr align="center" width=450>
<table width="800" align="center">
	<tr>
		<td class="section_name"><img src="{% get_static_prefix %}images\summary.png">&nbsp;SUMMARY</td>
	</tr>
	<tr>
	<td>	
			<ul>
			    <li>Degree in Computer Science and extensive experience in Information Technologies.</li>
    			<li>10+ years of experience as an ERP (Enterprise Resource Planning) System Software Developer.</li> 
    			<li>Provided business processes automation in different subject areas: production, accounting, inventory management, human resources, etc.</li>
    			<li>Experience with image processing,  web development, system administration, and database development.</li>
    			<li>9-months experience as a Quality Assurance Engineer.</li>
    			<li>Practical understanding of software development process, including agile practices.</li>
    			<li>Able to work well as a team member or independently depending on project requirements.</li>
    			<li>Ability to learn new technologies and challenging concepts quickly and implement them.</li>
		</ul>
	</td>
	</tr>
</table>	
<table width="800" align="center">
	<tr>
		<td class="section_name"><img src="{% get_static_prefix %}images\skils.png">&nbsp;SKILLS</td>
	</tr>
	<tr>
	<td>	
		<b>Platforms:</b> Windows, Linux, MacOS.<br>
		<b>Mobile platforms:</b> Android, iOS.<br>
		<b>Languages:</b> HTML, CSS, XML, JSON, Python, JavaScript.<br>
		<b>Databases:</b> SQL, MySQL, MS SQL, PostgreSQL.<br>
		<b>Test automation:</b> Selenium WebDriver, Pytest.<br>
	</td>
	</tr>
</table>	
<table width="800" align="center">
	<tr>
		<td class="section_name"><img src="{% get_static_prefix %}images\projects1.png">&nbsp;PROJECTS</td>
	</tr>
	<tr>
	<td>	
		<b>Self-learning educational project, 2020</b><br>
		This is a web application Resume Builder and test framework for testing it.<br>
		Resume Builder is developed using Python, Django, JavaScript.<br>
		Web address for Resume Builder is <a href="http://yeroshchenko.pythonanywhere.com/">http://yeroshchenko.pythonanywhere.com/</a><br>
		Source code is here: <a href="https://github.com/AllaYeroshchenko/django">https://github.com/AllaYeroshchenko/django</a><br>
		Test framework was developed using Python and pytest framework.<br>
		Source code is here: <a href="https://github.com/AllaYeroshchenko/Django-Test-Automation">https://github.com/AllaYeroshchenko/Django-Test-Automation</a><br><br> 

		<b>Hitsan Inc., 2018</b><br>
		Modernization of applications for the production management and selling of sun protection systems. Adding modules for new types of products that fit into the overall concept of the application.<br>
    	<ul>
    	<li>Development of an order form for the calculation of the price for the client.</li>
    	<li>Development of a decision-making system for customer orders using payment history.</li>
    	<li>Calculation of cost, inventory management of materials and products.</li>
    	</ul><br> 
		<b>Nove dilo., 2015</b><br>
		Development and implementation of a time management system at a bakery processing plant (~ 200 employees) using the MA300 biometric terminal.<br>
		<ul>
			<li>Configuring the ZKTeco application working with the MA300 terminal.</li>
    		<li>Development of instructions for the Human Resources Department.</li>
    		<li>Development of replication 1c enterprise with the ZKTeco database in real-time.</li>
    		<li>Development of a system of catalogs, documents, and reports.</li>
    		<li>Development of a module for timesheet calculation for the work month based on biometric data (fingerprints) received from the terminal.</li>
    		<li>Development of payroll calculation based on timesheet and human resource documents.</li>
		</ul><br> 
		<b>Mebelopttorg., 2018</b><br>
		Development of a module for calculation of the rent payment amounts and utilities for tenants of a shopping center based on the accounting configuration.<br>
		<ul>
    		<li>Development of a catalog system for rental spaces and utility metering devices.</li>
    		<li>Development of a module for calculation of the rent amounts and utility bills in accordance with the terms of contracts.</li>
    		<li>Development of a mechanism for creating and sending invoices to tenants.</li>
		</ul>
	</td>
	</tr>
</table>	
<table width="800" align="center">
	<tr>
		<td class="section_name"><img src="{% get_static_prefix %}images\experience.png">&nbsp;EXPERIENCE</td>
	</tr>
	<tr>
	<td>	
	<b>QA Engineer at WWES Intern, Santa Clara, CA</b><br> 
	<i>2/2019 – 10/2019</i><br>
	Responsibilities:
	<ul>
    	<li>Validating and testing web-based applications.</li> 
    	<li>Executing test cases and analyze results.</li>
    	<li>Finding bugs and writing bug reports.</li>
    	<li>Perform database testing.</li>
    </ul> 
	Technologies: Jira, TestRail, MySQL, SQL, HTML, SDLC.<br><br>

	<b>Software Engineer at Hitsan Inc, Odessa, Ukraine</b><br>
	<i>7/2016 – 3/2018</i><br>
	Responsibilities:
	<ul>
    	<li>Analyzing Business/Software Requirements documents.</li> 
    	<li>New modules developing and maintaining old ones for ERP application.</li> 
    	<li>Validating and testing ERP applications (Accounting, CRM, Production and Inventory Modules).</li>
    	<li>Validating and testing web-based applications. </li>
    	<li>Provide database testing. </li>
    	<li>Participating in all meetings and activities in all phases of software development life cycle.</li>
	</ul>
	Technologies: Jira, TestRail, MS Office, MS SQL, SQL, ERP, CRM, SDLC<br><br>

	<b>ERP Software Engineer (Ukraine) (independent consulting)</b><br>
	<i>9/2005 – 3/2018</i><br>
	Responsibilities:
	<ul>
    	<li>Business processes automation.</li>
    	<li>Supporting and developing 1C:Enterprise ERP system configuration for needs of enterprises.</li>
    	<li>Coding new modules, searching and fixing bugs.</li>
    	<li>Users consulting, database administration.</li>
    	<li>Organizing automatic backups, integrations with other applications (banks, web-sites, tax inspection).</li>
	</ul>
	Technologies: 1C:Enterprise, MS Office, MS SQL, MS Windows Server, ERP, CRM, SDLC, Accounting<br><br>

	<b>Professor Assistant at Odessa National Polytechnic University</b><br>
	<i>9/2006-8/2008</i><br>
	Responsibilities:
	<ul>
    	<li>Conducting practical classes for students:</li>
    	<ul>
        <li>Fundamentals of databases (PostgreSQL)</li>
        <li>C/C++ programming</li>
        <li>Informatics</li>
    </ul>
    </ul>    
	Technologies: MS Office, MS Access, PostgreSQL, SQL, C/C++, Moodle, Adobe Photoshop<br><br>

	</td>
	</tr>
</table>

<table width="800" align="center">
	<tr>
		<td class="section_name"><img src="{% get_static_prefix %}images\education.png">&nbsp;EDUCATION</td>
	</tr>
	<tr>
	<td>
	<b>Odessa National Polytechnic University</b><br>
	Master’s Degree in Computer Science
	</td>
	</tr>
	<tr><td height="100" valign="bottom" align="center">
		Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
	</td></tr>
</table>		
</body>
</html>
