{% extends 'base.html' %}

{% block title %}Add new resume{% endblock %}

{% block content %}

<h1>Add new resume</h1>

{% if status %}
<p>{{ status }}</p>
{% else %}
<br><br>
<form id="add_new_resume" action="{% url 'resume:addnew' %}" method="post">
	{% csrf_token %}
	<label for="first_name">First name</label>
	<input type="text" name="first_name" id="first_name" required><br>
	<label for="last_name">Last name</label>
	<input type="text" name="last_name" id="last_name" required><br>
	<label for="email">E-mail</label>
	<input type="text" name="email" id="email" required><br>
	<label for="phone">Phone</label>
	<input type="text" name="phone" id="phone" required><br>
	<label for="address">Address</label>
	<input type="text" name="address" id="address" required><br>
	<label for="city">City</label>
	<input type="text" name="city" id="city" required><br>
	<label for="state">State</label>
	<input type="text" name="state" id="state" required><br>
	<label for="country">Country</label>
	<input type="text" name="country" id="country" required><br>
	<label for="zip_code">Zip code</label>
	<input type="text" name="zip_code" id="zip_code" required><br>
	<label for="job_title">Job title</label>
	<input type="text" name="job_title" id="job_title" required><br>
	<label for="summary">Summary</label>
	<textarea name="summary" id="summary" cols="50" rows="5"></textarea><br>
	<p>Education</p>
	<div id="education" name="education" class="education">
		<label for="year_start">Year start</label>
		<input type="date" name="year_start" id="year_start" min="1980-01-01" required>
		<label for="year_end">Year end</label>
		<input type="date" name="year_end" id="year_end" required><br>
		<label for="organization">Organization</label>
		<input type="text" name="organization" id="organization" required>
		<label for="title">Title</label>
		<input type="text" name="title" id="title" required><br>
		<label for="description">Description</label>
		<input type="text" name="description" id="description" required><br>
	</div>
	<button class='edu' id="edu" name='edu'>Add education</button><br><br>
	<p>Experience</p>
	<div id="experience" name="experience" class="experience">
		<label for="ex_year_start">Year start</label>
		<input type="date" name="ex_year_start" id="ex_year_start" min="1980-01-01" required>
		<label for="ex_year_end">Year end</label>
		<input type="date" name="ex_year_end" id="ex_year_end" required><br>
		<label for="company">Company</label>
		<input type="text" name="company" id="company" required>
		<label for="position">Position</label>
		<input type="text" name="position" id="position" required><br>
		<label for="ex_description">Description</label>
		<input type="text" name="ex_description" id="ex_description" required><br>
	</div>
	<button class='exp' id="exp" name='exp'>Add experience</button><br><br>
	<input type="submit" value="Add resume">
</form>
{% endif %}
{% endblock %}