{% extends 'base.html' %}

{% block title %}Add new resume{% endblock %}

{% block content %}
<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<h1>Add new resume</h1>
			{% if status %}
			<p>{{ status }}</p>
			{% else %}
			<form id="add_new_resume" action="{% url 'resume:addnew' %}" method="post">
				{% csrf_token %}
				<table class="table_for_forms">
					<tr>
						<td class="first_col">
							<label for="first_name">First name</label>
						</td>
						<td class="second_col">
							<input type="text" name="first_name" id="first_name" size="40" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="last_name">Last name</label>
						</td>
						<td class="second_col">
							<input type="text" name="last_name" id="last_name"  size="60" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="email">E-mail</label>
						</td>
						<td class="second_col">
							<input type="text" name="email" id="email"  size="50" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="phone">Phone</label>
						</td>
						<td class="second_col">
							<input type="text" name="phone" id="phone" size="20" placeholder="+1-(XXX)-XXX-XX-XX" pattern="+1-([0-9]{3})-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="address">Address</label>
						</td>
						<td class="second_col">
							<input type="text" name="address" id="address" size="90" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="city">City</label>
						</td>
						<td class="second_col">
							<input type="text" name="city" id="city" size="60" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="state">State</label>
						</td>
						<td class="second_col">
							<input type="text" name="state" id="state" size="60" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="country">Country</label>
						</td>
						<td class="second_col">
							<input type="text" name="country" id="country" size="60" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="zip_code">Zip code</label>
						</td>
						<td class="second_col">
							<input type="text" name="zip_code" id="zip_code" size="7" maxlength="5" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="job_title">Job title</label>
						</td>
						<td class="second_col">
							<input type="text" name="job_title" id="job_title" size="90" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="summary">Summary</label>
						</td>
						<td class="second_col">
							<textarea name="summary" id="summary" cols="90" rows="5"></textarea>
						</td>	
					</tr>	
					</table>
				<h2>Education</h2>
				<div id="education" name="education" ed_number="1" class="education">
					<table class="table_for_forms">
						<tr>
							<td class="first_col">
								<label for="year_start">Year start</label>
							</td>
							<td class="second_col">	
								<input type="date" name="year_start" min="1980-01-01" required>
							</td><td></td>
						</tr>
						<tr>
							<td class="first_col">
								<label for="year_end">Year end</label>
							</td>
							<td class="second_col">		
								<input type="date" name="year_end" required>
							</td><td></td>
						</tr>
						<tr>
							<td class="first_col">			
								<label for="organization">Organization</label>
							</td>
							<td class="second_col">	
								<input type="text" name="organization" size="40" required>
							</td><td><button class='del_edu' id="del_edu" ed_number="1" name='del_edu' onclick="delete_education(document.getElementById('education'))">Delete</button></td>
						</tr>
						<tr>
							<td class="first_col">
								<label for="title">Title</label>
							</td>
							<td class="second_col">	
								<input type="text" name="title" bsize="70" required>
							</td><td></td>
						</tr>
						<tr>
							<td class="first_col">
								<label for="description">Description</label>
							</td>
							<td class="second_col">	
								<input type="text" name="description" size="80" required><br>
							</td><td></td>
						</tr>
					</table>
				</div>
				<button class='edu' id="edu" name='edu'>Add education</button><br><br>
				<h2>Experience</h2>
				<div id="experience" name="experience" class="experience">
					<table class="table_for_forms">
						<tr>
							<td class="first_col">
								<label for="ex_year_start">Year start</label>
							</td>
							<td class="second_col">		
								<input type="date" name="ex_year_start" id="ex_year_start" min="1980-01-01" required>
							</td><td></td>
						</tr>
						<tr>
							<td class="first_col">
								<label for="ex_year_end">Year end</label>
							</td>
							<td class="second_col">		
								<input type="date" name="ex_year_end" id="ex_year_end" required>
							</td><td></td>
						</tr>
						<tr>
							<td class="first_col">
								<label for="company">Company</label>
							</td>
							<td class="second_col">		
								<input type="text" name="company" id="company" size="50" required>
							</td><td><button class='del_exp' id="del_exp" name='del_exp'>Delete</button></td>
						</tr>
						<tr>
							<td class="first_col">
								<label for="position">Position</label>
							</td>
							<td class="second_col">		
								<input type="text" name="position" id="position" size="50" required>
							</td><td></td>
						</tr>
						<tr>
							<td class="first_col">
								<label for="ex_description">Description</label>
							</td>
							<td class="second_col">		
								<input type="text" name="ex_description" id="ex_description" size="80" required>
							</td><td></td>
						</tr>
					</table>
				</div>
				<button class='exp' id="exp" name='exp'>Add experience</button><br><br>
				<input type="submit" value="Add resume">
			</form>
			{% endif %}
			<br><br>
	</div></div>
	<div class="addition_information">
		<div class="addition_information_inner">
<p>Place for addition information.</p>
	</div></div>
</section> 

{% endblock %}



