{% extends 'base.html' %}

{% block title %}Delete resume{% endblock %}

{% block content %}
<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<h1>Delete resume</h1>
			{% if status %}
			<p>{{ status }}</p>
			{% else %}
				{% if error %}
				<p>{{ error }}</p>
				{% endif %}
			{% endif %}
			<br><br>
	</div></div>
	<div class="addition_information">
		<div class="addition_information_inner">
<p>Place for addition information.</p>
	</div></div>
</section> 


{% endblock %}



