{% extends 'base.html' %}

{% block title %}Resume builder{% endblock %}

{% block content %}
<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<p class="intro">Hello!<br> My name is Alla. Nice to meet you.<br> 
			I'm a Software Engineer, and I'm open for a new opportunities.<br>
			I want to make things that make a difference.</p>	

			<p>This project I have built to start my portfolio. In my country I worked with other technologies and when I came here, my experience was not relevant enough for this market. So, I decided to develop a trainee project with some interesting technologies and demonstrate my ability to learn, work, and make things done.</p>
			<p>In the top menu, you can see the <a id="resume_app" href="{% url 'resume:index' %}">Resume Project</a> link. This is  a Resume Builder application. You can add a resume, observe it, edit and delete. I developed it using Python, Django framework, Java Script, and of course HTML and CSS. The source code is <a href="https://github.com/AllaYeroshchenko/django">here</a></p>
			<p>Also, in the top menu, you can see the <a href="{% url 'automation' %}">QA Automation Project</a>. This is a project for automating testing the Resume Builder application. I built it using Python, test framework PyTest. The source code is <a href="https://github.com/AllaYeroshchenko/Django-Test-Automation">here</a>.</p>
			<p>I always had a passion for Information Technologies. I really like a stack of technologies that I used in these projects. But I always open to something new. I have a very diverse experience that I can leverage in different projects. Mor information about my experience you can find in <a target="_blank" href="{% url 'myresume' %}">My Resume</a>.</p>

	</div></div>
	<div class="addition_information">
		<div class="addition_information_inner">
			<p><b>The random quote:</b></p>
			<p>{{ quote }}</p>
	</div></div>
</section> 
{% endblock %}