{% extends 'base.html' %}

{% block title %}Resume builder{% endblock %}

{% block content %}
<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<p class="intro">Hello!<br> My name is Alla. Nice to meet you.<br> 
			I'm a Software Engineer, and I'm open for a new opportunities.<br>
			I want to make things that make a difference.</p>	
	</div></div>
	<div class="addition_information">
		<div class="addition_information_inner">
			<p><b>The random quote:</b></p>
			<p>{{ quote }}</p>
	</div></div>
</section> 
{% endblock %}